chroot/
VirtualBox VMs/
Software/
Documents/
.xinitrc
ROMS/
dead.letter
Downloads/
.vbam/
Desktop/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.elinks/
.esd_auth
.gnupg/
.local/
.mozilla/
.pki/
.pulse-cookie
.rnd
.steam/
.steampath
.steampid
.themes/